<footer class="bg-on-background dark:bg-inverse-surface text-on-primary dark:text-on-primary docked full-width bottom-0 border-t-4 border-primary w-full py-12 px-margin-desktop flex flex-col md:flex-row justify-between items-center gap-8 md:ml-64 relative z-50">
    <div class="font-headline-md text-headline-md text-primary">HẠNH PHÚC HAY TIỀN BẠC?</div>
    <div class="font-body-md text-body-md text-center md:text-left">© 2026 HẠNH PHÚC HAY TIỀN BẠC? • All rights reserved.</div>
    <div class="flex gap-6 font-label-bold text-label-bold uppercase">
        <a class="text-surface-container-low opacity-70 hover:text-primary transition-colors" href="../web/home.html">Theory</a>
        <a class="text-surface-container-low opacity-70 hover:text-primary transition-colors" href="landing_page.html">Game</a>
        <a class="text-surface-container-low opacity-70 hover:text-primary transition-colors" href="leaderboard.html">Leaderboard</a>
        <a class="text-surface-container-low opacity-70 hover:text-primary transition-colors" href="#">Privacy</a>
        <a class="text-surface-container-low opacity-70 hover:text-primary transition-colors" href="#">Terms</a>
    </div>
</footer>
